<div class="modal-parent"><div class="modal-div">
  <div class="text-div">
    <div class="line-div">
      <p>Department</p>
      <p>{{departmentName}}</p>
    </div>
    <div class="line-div">
      <p>Doctor</p>
      <p>{{doctorName}}</p>
    </div>
    <div class="line-div">
      <p>Date</p>
      <p>{{appointment.date | date: 'yyyy-MM-dd' }}</p>
    </div>
    <div class="line-div">
      <p>Time</p>
      <p>{{appointment.date  | date: 'HH:mm'}}</p>
    </div>
    <div class="line-div">
      <p>Room</p>
      <p>{{appointment.room}}</p>
    </div>
    <div class="line-div">
      <p>Status</p>
      <p>{{appointment.status}}</p>
    </div>
  </div>
  <div class="btn-div">
    <button class="back-btn" (click)="onClose()">Back</button>
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
</div>
