.container {
  padding: 20px;
  background-color: rgba(43, 80, 170, 0.2);
  font-family: Inter, sans-serif;
  color: #291F1E;
}

h2 {
  margin: 25px;
}

.full-width {
  padding: 0;
  margin: 0 15px 15px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;

}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
  height: 0 !important;
}

::ng-deep .mat-mdc-form-field .mdc-text-field--filled {
  background-color: #f4eded !important;
  border-radius: 16px !important;
}

::ng-deep .mdc-text-field__input {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px !important;
  color: #291f1e !important;
}

button {
  margin: 10px;
  border-radius: 20px;
}
