<<<<<<< Updated upstream
=======
.layout-container {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}
app-navbar {
  width: 400px;
}
>>>>>>> Stashed changes
