.layout-container {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
}
.content-container {
  justify-content: center;
  margin-left: 2rem;
  width: 100%;
}
app-navbar {
  width: 400px;
}
