
<app-header></app-header>

<div class="container">
  <div class="main-area">
    <main class="main">
      <app-document-section
        [title]="'Finished documents'"
        [documents]="[
          { name: 'Lab analysis' },
          { name: 'Prescription' }
        ]"
      ></app-document-section>

      <app-document-section
        [title]="'My documents'"
        [documents]="[
          { name: 'Allergies' }
        ]"
      ></app-document-section>

      <a class="upload-link" href="#">+ Upload documents</a>
    </main>
  </div>
</div>
<router-outlet />


