.profile-card {
  max-width: 700px;
  margin: 80px 100px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(43, 80, 170, 0.2);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #291F1E;
  font-family: Inter, sans-serif;
}

.profile-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  margin: 0 80px 40px 0;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto 12px;
  border-radius: 50%;
  background-color: #2b50aa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-avatar mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
  color: white;
}

.profile-details {
  margin-top: 20px;
  padding: 0 16px;
}

::ng-deep .mat-mdc-card-content:last-child {
  padding-bottom: 0 !important;
}

.detail-row {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

}

.detail-label {
  color: #291f1e;
  margin-right: 100px;
}

mat-card-actions {
  margin-top: 40px;
}
